/* Import All css here */
@import "https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap";
@import "bootstrap.min.css";
@import "bootstrap-select.min.css";
@import "jquery.jscrollpane.css";
@import "animations.css";
@import "style.css";
@import "dev-style.css";

/* Body Hidden till Load the page */
body:not(.page-loaded) {
  opacity: 0;
  overflow: hidden;
}
